<configuration>
    <include resource="/org/springframework/boot/logging/logback/base.xml"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="liquibase" level="info"/>
    <logger name="liquibase.database.core" level="debug"/>
    <logger name="liquibase.servicelocator.CustomResolverServiceLocator" level="off"/>
</configuration>